/******
General Styling
*****/

.top {
  background-color: #4c934c;
  padding: 30px;
  color: white;
}

.top h3 {
  float: left;
  margin-left: 30px;
  margin-top: 10px;
  display: inline-block;
}

.spaceholder {
  height: 100px;
}

#sizes {
  display: none;
}
