/******
General Styling
*****/

.top {
  background-color: #4c934c;
  padding: 20px;
  color: white;
}

.top h3 {
  float: left;
  margin-left: 30px;
  margin-top: 10px;
  display: inline-block;
}

.spaceholder {
  height: 100px;
}

#toppings, #results-container {
  display: none;
}


/******
Results Styling
*****/

#results h3, form {
  margin-left: 2em;
}
